.btn button{
    font-family: "Lucida Console", monospace;
}

.btn{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-left-width: 72px;
    border-right-width: 72px;
    border-radius: 5px;
    width: page;
    height: 240px;


    display: inline-block;
    color: rgb(24, 27, 122);
    text-align: center;
    padding: 14px;
    padding-top: 0px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}
  
  
.btn button:hover {
    background-color: rgb(207, 209, 211);
    color: dodgerblue;
}

.btn button:focus {
    background-color: aqua;
    color: rgb(0, 0, 0);
} 

h1{
    font-family: "Lucida Console", monospace;
}

input {
    margin-right: 10px;
    margin-bottom: 50px;
}